@page
@model MyApp.Namespace.DetailsTecnicoModel
@{
}
<div class="justify-content-center text-center">
<h1>Detalles Tecnico</h1>
</div>
<hr>
<div class="row">
        <dt class="col-md-4">
            @*@Html.DisplayNameFor("Nombre Técnico")*@<p>Nombre Técnico</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Nombre_Tec)
        </dd>
        <dt class="col-md-4">
            <p>Revisión filtro de Aire</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Rev_filtroAire)
        </dd>
        <dt class="col-md-4">
            <p>Revisión filtro gasolina</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Rev_filtroGas)
        </dd>
        <dt class="col-md-4">
            <p>Revisión Aceite</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Rev_aceite)
        </dd>
        <dt class="col-md-4">
            <p>Uso repuestos</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Cam_Repuesto)
        </dd>
        <dt class="col-md-4">
            <p>Descripción</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Descripcion)
        </dd>
         <dt class="col-md-4">
            <p>Placa Carro</p></dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Tecnico.Placa_Carro)
        </dd>
        </div>
    <br>