@page
@model MyApp.Namespace.listTecnicoModel
@{
}
<div class="justify-content-center text-center">

    
<h1>Listado Mantenimientos Registrados</h1>
<br>
</div>
<div>
    <div>
        <a asp-page="Create"> Crear Un Nuevo Mantenimiento</a>
        <i class="fa-sharp fa-solid fa-plus"></i>
    </div>
    <br>
    <table class="table table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre Técnico</th>
            <th>Rev. Filtro Aire</th>
            <th>Rev. Filtro Gasolina</th>
            <th>Rev. Aceite</th>
            <th>Placa Carro</th>
            <th>Detalle</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
        </tr>
        @foreach(var Tecnico in Model.Tecnicos){
          <tr>
            <td>@Tecnico.Id</td>
            <td>@Tecnico.Nombre_Tec</td>
            <td>@Tecnico.Rev_filtroAire</td>
            <td>@Tecnico.Rev_filtroGas</td>
            <td>@Tecnico.Rev_aceite</td>
            <td>@Tecnico.Placa_Carro</td>
            <td> 
            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Tecnico.Id">
            <i class="fa-sharp fa-solid fa-list"></i>
            </a>
            </td>
            <td> 
            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Tecnico.Id">
            <i class="fa-sharp fa-solid fa-trash"></i>
            </a>
            </td>
            <td> 
            <a class="btn btn-primary" asp-page="./Update" asp-route-id="@Tecnico.Id">
            <i class="fa-solid fa-rotate"></i>
            </a>
            </td>
            </tr>  
        }
    </table>
</div>

