@page
@model MyApp.Namespace.DetailsClienteModel
@{
}
<div class="justify-content-center text-center">
<h1>Detalles Cliente</h1>
</div>
<hr>
<div class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Cliente.Registro)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Cliente.Registro)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Cliente.Solicitar_Mantenimiento)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Cliente.Solicitar_Mantenimiento)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Cliente.Consultar_Mantenimiento)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Cliente.Consultar_Mantenimiento)
        </dd>
        </div>
    <br>