@page
@model MyApp.Namespace.DeleteCarModel
@{
}
 <div class="justify-content-center text-center"></div>
    <h1>Esta Seguro que Desea Eliminar este Carro</h1>
    <br><br>
       <div class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Carro.Placa)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Carro.Placa)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Carro.Marca)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Carro.Marca)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Carro.Modelo)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Carro.Modelo)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(m => m.Carro.Color)</dt>
        <dd class="col-md-10">
            @Html.DisplayFor(m => m.Carro.Color)
        </dd>
        
    </div>
    <br>
    <form method="post">
        <input type="hidden" asp-for="Carro.Id"/>
        <input type="submit" value="Eliminar" class="btn btn-danger" asp-page="/Delete/OnPost"/>
    </form>
